body{
    background-color: rgb(236, 226, 215);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Login{
    width: 400px;
    margin: 80px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #3498db;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

/* 1024px – Laptops, iPad landscape */
@media (max-width: 1024px) {
    .Login {
        width: 450px;   /* slightly larger */
        padding: 30px;
    }

    h2 {
        font-size: 24px;
    }

    input {
        padding: 12px;
        font-size: 16px;
    }

    button {
        padding: 14px;
        font-size: 17px;
    }
}

/* 768px – Tablets */
@media (max-width: 768px) {
    .Login {
        width: 80%;
        padding: 20px;
    }

    h2 {
        font-size: 22px;
    }

    button {
        font-size: 15px;
        padding: 10px;
    }
}

/* 480px – Mobile */
@media (max-width: 480px) {
    .Login {
        width: 90%;
        padding: 18px;
        border-radius: 10px;
    }

    h2 {
        font-size: 20px;
    }

    label {
        font-size: 14px;
    }

    input {
        padding: 9px;
        font-size: 14px;
    }

    button {
        padding: 10px;
        font-size: 14px;
    }
}
.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #d9d4ce;
    border-top: 6px solid #5a4b3b;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* hidden by default */
    z-index: 9999;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
